[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pillow = "*"
"boto3" = "*"
requests = "*"
uwsgi = "*"
larson = "*"

[dev-packages]
"flake8" = "*"
pytest = "*"
black = "*"
isort = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
